/* A demo style sheet that connects to demo-index.html */

body {
}

h1 {
  border-style:groove;
  border-width: 5px;
  border-color: green;
  border-radius: 4px;
  padding: 40px 10px 20px 30px;
}
h2, p {
  border-style:inset;
  border-radius: 10px; /* To curve the sides */ 
  height: 90px;
  width: 90px; 
  font-family: "Lucida Console";
  font-size: 1em;
}

/* Icons at 2.44 in video */
